* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content {
   
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #5e503f;
  
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #5e503f;
    color:  #d6ccc2;
     

}

.main a {
    text-decoration: none;
    color: black;
}
#nav-links, #nav-links a {
    display: inline-block;
    font-size: 16px;
    margin: 20px 15px;
    text-decoration: none;
    list-style: none;
    color: #d6ccc2 ;

}

section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#homepage-btn {
    padding: 10px 30px;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f0cd63;
  

}

h1, h2{
    margin-bottom: 20px;
    color: #d6ccc2;
    font-weight: 600;
}

h1{
    font-size: 40px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;

}